appdirs==1.4.3
attrs==19.3.0
black==19.10b0
Click==7.0
configparser==4.0.2
entrypoints==0.3
flake8==3.7.9
Flask==1.1.1
Flask-SocketIO==4.2.1
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
mccabe==0.6.1
pathspec==0.7.0
pycodestyle==2.5.0
pyflakes==2.1.1
python-engineio==3.11.2
python-socketio==4.4.0
regex==2020.2.20
six==1.14.0
toml==0.10.0
typed-ast==1.4.1
Werkzeug==1.0.0
