appdirs==1.4.3
attrs==19.3.0
black==19.10b0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
configparser==4.0.2
cryptography==2.8
entrypoints==0.3
flake8==3.7.9
Flask==1.1.1
Flask-Login==0.4.1
Flask-SocketIO==4.2.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
mccabe==0.6.1
oauthlib==3.0.1
pathspec==0.7.0
pycodestyle==2.5.0
pycparser==2.20
pyflakes==2.1.1
pyOpenSSL==19.0.0
python-engineio==3.11.2
python-socketio==4.4.0
regex==2020.2.20
requests==2.21.0
six==1.14.0
toml==0.10.0
typed-ast==1.4.1
urllib3==1.24.3
Werkzeug==1.0.0
