body {
  background: rgb(188,86,188);
background: radial-gradient(circle, rgba(188,86,188,1) 0%, rgba(150,182,255,1) 100%);
}

.container {
  width: 1200px;
  height: 100%;
  margin: auto;
  padding-top: 30px;
}

/* Search */
.search {
}

.search h2 {
  margin: 0;
  margin-bottom: 10px;
}

#searchInputField {
  background-color: white;
  width: 500px;
}


/* Tests */
#TestsAndResult {
}

.wrapper {
  display: flex;
}

/* Arguments */
#tests {
  margin-right: 40px;
}

#testsList {
  padding-left: 3px;
  direction:rtl;
  height: 500px;
  width: 400px;
  background-color: white;
  overflow-x: hidden;
}
.testCase {
  direction: ltr;
}

.testName {
  height: 30px;
  width: 400px;
  display: flex;
  background-color: white;
  vertical-align: middle;
  box-sizing: border-box;
  border-bottom: 1px solid #44CFCB;
}

.test {
  border-bottom: 1px solid purple;
  width: 100%;
  background-color: #55825d;
  display: none;
}

.createTestCaseButton {
 display: none;
}



.testCaseArgument {
  width: 50%;
  min-height: 40px;
  background-color: white;
}
.testCaseResult {
  width: 50%;
  min-height: 40px;
  background-color: white;
}
.test .wrapper {
  border-bottom: 5px solid white;
}

.addArgumentButton {
  width: 30px;
  height: 30px;
  margin-left: 180px;
  display: none;
}

/* Results */
#results {
}

#resultList {
  height: 500px;
  width: 400px;
  background-color: white;
}

.result {
  height: 80px;
  width: 400px;
  background-color: #fafafa;
}

/* addInputOutput */
#createTestButton {
  position: relative;
  left: 31.5%;
  bottom: 24px;
  width: 50px;
}

#createTestButton input {
  width: 40px;
  height: 40px;
}

#sendDataButton {
  margin-left: 370px;
}
